.color{
    width: auto;
    height: auto;
    font-family: cursive;
    background-color: rgb(221, 218, 46);
    margin: auto;
}

#insertTexto{
    margin: auto;
    text-align: center;  
    text-decoration-color: darkcyan;
}

#inputTexto{
    margin: 20px auto;
    width: 50px;
    height: 50px;
    width: initial;
    float: left;
    font-family: fantasy;
    border: 5px solid rgb(3, 0, 3);   
    background-color: rgb(221, 218, 46);
}


#recNumeros{
    margin: 0 auto;
    text-align:  center;
    width: 500px;
    height:250px;
    font-size: 200px;
    border: 5px solid rgb(2, 82, 26);
    background-color: rgb(31, 179, 31);
    font-family: fantasy;
    float: right;
}

#div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}
